<%= form_with(model: [:account, @task], local: true) do |form| %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <%= form.text_field :email, value: current_user.email, class: 'form-control' %>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPhone4">Phone</label>
        <%= form.text_field :phone, placeholder: 'Phone', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Title</label>
      <%= form.text_field :title, placeholder: 'Need help for...', class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <%= form.text_area :descr, placeholder: 'Detailed description', class: 'form-control' %>
    </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="inputAddress">Photos</label>
      <%= form.file_field :images, multiple: true, class: 'form-control-file' %>
    </div>

    <%= form.submit 'Create task', class: 'btn btn-primary' %>

<% end %>
