<!DOCTYPE html>
<html>
  <head>
    <title>Helpme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm  bg-white rounded" style="background-color: #71da71;">
      <a class="navbar-brand" href="/">Helpme</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav"></div>
        <div class="form-inline my-2 my-lg-0">
          <% if user_signed_in? %>
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                  <li>
                    <%= link_to'New task', new_account_task_path, :class => "nav-link text-info" %>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= current_user.email %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <%= link_to 'Account', account_user_path(current_user), :class => "dropdown-item" %>
                      <div class="dropdown-divider"></div>
                      <%= link_to'Logout', destroy_user_session_path, method: :delete, :class => "dropdown-item" %>
                    </div>
                  </li>
                </ul>
              </div>
          <% else %>
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                  <li>
                    <%= link_to'Login', new_user_session_path, :class => "nav-link" %>
                  </li>
                </ul>
              </div>
          <% end %>
        </div>
    </nav>
      <%= yield %>
  </body>
</html>
